<!DOCTYPE html>
<html lang="en" class="outline dragscroll">
  <head>
    <meta charset="UTF-8" />
    <title>Socket.IO MineSweeper</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="titleWrapper">
      <h3 class="title">Sweeper</h3>
    </div>
    <div class="GameBoard">
      <% for(var i=0;i<32;i++){ %>
        <div class="row">
          <%for(var j=0;j<60;j++){%>
            <%if(i<15&&j>53) continue;%>
            <div class="cell" id=<%= (j+1)+","+(i+1) %>> </div>
          <%}%>
        </div>
      <%}%>
    </div>
    <div class="InfoBoard">
        <div class="row">
            1. Null
        </div>
        
          
    </div>
    <script src="/dragscroll.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
  </body>
</html>
